* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.black{
    background-color:rgb(0, 0, 0);
    width: 100%;
    height: 55vh;
    margin-bottom: 10px;
}

.drift {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    color: white
}

*before,
:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 400px;
    gap: 20px;
    font-weight: lighter;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    transition: 0.2;
    
}

.track a {
    color: rgba(255, 255, 255, 0.603);
    text-decoration: none;
    position: relative;
}

.track a:hover {
    color: white;
    text-decoration: underline;
}

.rent{
    color: white;
    padding-top: 15px;
    padding-left: 70%;
}

.line {
    width: 90%;
    height: 1px;
    background-color: white;
    margin-top: 20px;
    margin: 50px;
}

.white{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
}


.col img{
    width: 70%;
    height: 20%;
    padding-left: 70px;

    transition: 0.5s;

    
}
.col{
    width: 50%;
    height: 20%;
    padding-left: 6%;
    
}
.col img:hover{
    width: 60%;
    height: 30%;
}
.col a{
    text-decoration: none;
    color:black;
}
.footer{
    height: 500px;
    width: 100%;
    background-color: white;
}




@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #000000;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;

  > div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url(../img/Jesko.jpeg)
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url(../img/Koenigsegg\ Gemera.jpeg)
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url(../img/Koenigsegg\ Jesko\ KNC\ -\ Black.jpeg)
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url(../img/Koenigsegg\ Jesko\ Odin\ Wallpaper.jpeg)
        no-repeat 50% / cover;
    }

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      /* transform: translatey(100%); */
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      /* visibility: hidden; */

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #7645d8;
      transform: translatey(-30px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}
.container2{
    width: 100%;
    height: 100vh;
    margin-top: -20px;
    background-color: #f7f5f9;
}
